.chat-page {
    .chat-me .am-list-extra{
        flex-basis: auto;
    }
    .chat-me .am-list-content{
        padding-right: 15px;
        text-align: right;
    }
    display: flex;
    min-height: 100vh;
    flex-flow: row wrap;
    .stick-content {
        width: 100%;
        align-self: flex-start;
    }
    .stick-footer{
        width: 100%;
        align-self: flex-end;
    }
    .am-grid-icon{
        display: none;
    }
    .am-grid-text{
        margin-top: 0;
    }
}